/* .contador {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contador div {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
button {
    width: 70px;
    height: 30px;
    background-color: rgb(153, 153, 153);
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(152, 152, 152);
} */

/* h1 {
    margin: 10px 80px;
    background-color: rgb(201, 253, 243);
    border: 2px solid rgb(213, 213, 213);
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(152, 152, 152);
}
.button :hover {
    width: 72px;
    height: 32px;
    background-color: rgb(133, 245, 102);
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgb(50, 112, 72);
} */